<div class="container">

<div class="jumbotron">
<%= form_for @student, html: { multipart: true } do |form| %>

	<div class="field">
		<%= form.label :Name %></br>
		<%= form.text_field :name %>
	</div>
	<div class="field">
	<%= form.label :Photo %>
  <%= form.file_field :photo %><br/>
  </div>
  <div class="field">
  <%= form.label :Video %>
  <%= form.file_field :video %><br/>
  </div>
  <div class="action">
  <%= form.submit 'submit'%>
  </div>

<% end %>

</div>
</div>